@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

.hero {
    background-image: url('../img/background-header.png');
    background-repeat: no-repeat;
    margin-bottom: 150px;
    /* height: 583px; */
}

.navbar {
    /* border-bottom: 1px solid #D9D9D9; */
    margin-bottom: 250px;
    position: fixed;
}
.navbar.scrolled{
    background: blue ;
}
.first {
    /* margin-top: 50px; */
    /* background: red; */
}

.navbar-nav li a {
    font-size: 20;
    font-family: inter;
    color: #72A4A5;
}

.first {}

.first h1 {
    color: #72A4A5;
    font-size: 45px;
    font-family: Inter;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 20px;
}

.first p {
    color: #0F0E0E;
    font-size: 18px;
    font-family: Inter;
    margin-bottom: 25px;
}

.btn-cek-pesanan {
    border-radius: 8px;
    background: #FF7F0A;
    border: none;
    padding: 9px 35px;
    color: white;
    font-weight: 500;
    margin-bottom: 50PX;
    display: flex;
    align-items: center;
}

.fa-arrow-right {
    margin-left: 5px;
}

.img-first {
    width: 100%;
}

/* about */
.about {
    /* padding-top: 50px; */
    margin-bottom: 150px;
}

.about-title {
    color: #72A4A5;
    font-size: 38px;
    font-family: Inter;
    font-weight: 600;
    margin-bottom: 30px;
}

.about .img-wrapper {
    width: 100%;
    border-radius: 12px;
    background: #72A4A5;
}

.about-content {
    padding-top: 20px;
    padding-left: 50px;
    /* background-color: #FF7F0A; */
}

.about-content p {
    color: rgba(0, 0, 0, 0.39);
    text-align: justify;
    font-size: 18px;
    font-family: Inter;
}

/* end about */

/* service */
.service {
    background-image: url('../img/ornament.jpg');
    background-repeat: no-repeat;
    padding-left: 20px;
    margin-bottom: 150px;
}

.service h2 {
    color: #72A4A5;
    font-size: 38px;
    font-family: Inter;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.service .card {
    background: #FFF;
    box-shadow: 0px 4px 16px 0px rgba(114, 164, 165, 0.35);
    margin: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-body h3 {
    color: rgba(0, 0, 0, 0.71);
    font-size: 28px;
    font-family: Inter;
    font-weight: 600;
    margin-bottom: 20px;
}

.card-body p {
    color: #496969;
    text-align: center;
    font-size: 18px;
    font-family: Inter;
    text-align: center;
}

/* end service */

/* check shoes progress */
.check-shoes-progress {
    background-image: url('../img/bg-cek-pesanan.png');
    background-repeat: no-repeat;
    margin-bottom: 150px;
    padding-top: 50px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* height: 100vh; Menyesuaikan tinggi form dengan tinggi viewport */
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-input-tracking{
    height: 70px;
    width: 500px;
    background: #FF7F0A;
    position: relative;
}
.input-custom {
    border: 1px solid #D9D9D9;
    background: #FFF;
    width: 578px;
    height: 50px;
    padding-left: 15px;
}

.btn-shoes-progress {
    border: 1px solid #FF7F0A;
    background: #FF7F0A;
    width: 105px;
    height: 50px;
    flex-shrink: 0;
    color: white;
}

/* end shoes progress */

/* time-line */
.time-line-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:992px) {
    .page-container {
        max-width: 1140px;
        margin: 0 auto
    }

    .page-sidenav {
        display: block !important
    }
}

.padding {
    padding: 2rem
}

.w-32 {
    width: 32px !important;
    height: 32px !important;
    font-size: .85em
}

.tl-item .avatar {
    z-index: 2
}

.circle {
    border-radius: 500px
}

.gd-warning {
    color: #fff;
    border: none;
    background: #f4c414 linear-gradient(45deg, #f4c414, #f45414)
}

.timeline {
    position: relative;
    border-color: rgba(160, 175, 185, .15);
    padding: 0;
    margin: 0
}

.p-4 {
    padding: 1.5rem !important
}

.block,
.card {
    background: #fff;
    border-width: 0;
    border-radius: .25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    margin-bottom: 1.5rem
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important
}

.tl-item {
    border-radius: 3px;
    position: relative;
    display: -ms-flexbox;
    display: flex
}

.tl-item>* {
    padding: 10px
}

.tl-item .avatar {
    z-index: 2
}

.tl-item:last-child .tl-dot:after {
    display: none
}

.tl-item:last-child .tl-dot-finihs:after {
    display: none
}

.tl-item.active .tl-dot:before {
    /* background: red; */
    /* border-color: #448bff; */
    /* box-shadow: 0 0 0 4px rgba(68, 139, 255, .2); */
    padding: 5px;
}

.tl-item.active .tl-dot-finish:before {
    /* background: red; */
    /* border-color: #448bff; */
    /* box-shadow: 0 0 0 4px rgba(68, 139, 255, .2); */
    padding: 5px;
}

.tl-item:last-child .tl-dot:after {
    display: none
}

.tl-item:last-child .tl-dot-finish:after {
    display: none
}

.tl-item.active .tl-dot:before {
    background: #FBBD1F;
    /* border-color: #448bff; */

    box-shadow: 0 0 0 4px rgba(255, 193, 34, 0.21);

}

.tl-item.active .tl-dot-finish:before {
    background: #72A4A5;
    /* border-color: #448bff; */

    box-shadow: 0 0 0 4px rgba(114, 164, 165, 0.20);

}

.tl-dot-finish {}

.tl-dot {
    position: relative;
    border-color: rgba(160, 175, 185, .15)
}

.tl-dot-finish {
    position: relative;
    border-color: rgba(160, 175, 185, .15);
    /* background: red; */
}

.tl-dot:after,
.tl-dot:before {
    content: '';
    position: absolute;
    border-color: inherit;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%)
}

.tl-dot-finish:after,
.tl-dot-finish:before {
    content: '';
    position: absolute;
    border-color: inherit;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%)
}

.tl-dot:after {
    width: 0;
    height: auto;
    top: 25px;
    bottom: -15px;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0
}

.tl-dot-finish:after {
    width: 0;
    height: auto;
    top: 25px;
    bottom: -15px;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0
}

tl-item.active .tl-dot:before {
    border-color: #448bff;
    box-shadow: 0 0 0 4px rgba(68, 139, 255, .2)
}

.tl-dot {
    position: relative;
    border-color: rgba(160, 175, 185, .15)
}

.tl-dot:after,
.tl-dot:before {
    content: '';
    position: absolute;
    border-color: inherit;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%)
}

.tl-dot:after {
    width: 0;
    height: auto;
    top: 25px;
    bottom: -15px;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0
}

.tl-content p:last-child {
    margin-bottom: 0
}

.tl-date {
    font-size: .85em;
    margin-top: 2px;
    min-width: 100px;
    max-width: 100px
}

.avatar {
    position: relative;
    line-height: 1;
    border-radius: 500px;
    white-space: nowrap;
    font-weight: 700;
    border-radius: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 500px;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, .15)
}

.b-warning {
    border-color: #f4c414 !important;
}

.b-primary {
    border-color: #448bff !important;
}

.b-danger {
    border-color: #f54394 !important;
}

/* time-line */

/* contact */
/* end contact */
.contact {
    margin-bottom: 150px;
}

.contact h2 {
    color: #72A4A5;
    font-size: 38px;
    font-family: Inter;
    font-weight: 700;
    margin-bottom: 30px;
}

.contact p {
    color: rgba(0, 0, 0, 0.39);
    font-size: 18px;
    font-family: Inter;
    max-width: 500px;
    text-align: justify;
    margin-bottom: 30px;
}

.icon {
    display: flex;
    flex-direction: row;
}

.icon span {
    color: #72A4A5;
    font-size: 18px;
    font-family: Inter;
}

.first-icon .fa-whatsapp, .second-icon .fa-instagram {
    font-size: 20px;
    color: #72A4A5;
  }

.second-icon {
    margin-left: 15px;
}

.contact .card-body {
    position: relative;
    overflow: hidden;

}

.contact .card {
    border-radius: 12px;
    border: none;
    box-shadow: 0px 4px 16px 0px #D9D9D9;
}

.contact .card-body iframe {
    width: 100%;
    border-radius: 12px;
}
/* end contatc */

/* testimonial */
.testimonial{
    margin-bottom: 150px;
}
.testimonial h2{
    color: #72A4A5;
    font-size: 38px;
    font-family: Inter;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}
.card-customer-service {
    /* width: 389px; */
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(114, 164, 165, 0.35);
    border-radius: 12px;
    padding: 10px;
    /* border: none; */

}

.card-cutomer-service-header {
    display: flex;
    align-items: flex-start;
}

.img-customer {
    width: 65px;
    height: 65px;
    background: #000;
    border-radius: 50%;
    position: relative;
    flex: 0 0 auto;
    margin-right: 10px;
}

.card-cutomer-service-header p {
    flex: 1 1 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-align: justify;
    margin-top: 10px;
    color: #656161;
}

.img-customer img {
    width: 100%;
    object-fit: fill;
}

.card-customer-body {
    display: flex;
    justify-content: space-between;
}

.card-customer-body h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    color: #B0AFAF;

}
.card-customer-body .icon{
    color: #FEB15F;
}
/* end testimonial */
footer{
    padding-top: 30px;
    padding-bottom: 10px;
    border-top: 1px solid rgba(114, 164, 165, 0.35);
    /* margin-bottom: 10px; */
    border-bottom: 1px solid rgba(114, 164, 165, 0.35);
}